
<!DOCTYPE html>
<html>
<head>
    <title>holidaymaker a Travel Category Bootstrap responsive Website Template | Home :: w3layouts</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" /><!-- //pop-ups-->

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home");
                    </li>

                    @*Stage Managers Rules to show each Stage as same as its Manager*@
                    @if (User.Identity.IsAuthenticated && User.IsInRole("OnPlaneManager"))
                    {

                        <li>
                            @Html.ActionLink("On Plane Stage", "StageDetails", "Stage", new { id = 1 }, "")
                        </li>
                        <li>
                            @Html.ActionLink("Plane", "Index", "Plane")
                        </li>
                    }
                    @{
                        if (User.Identity.IsAuthenticated && User.IsInRole("LuggageManager"))
                        {
                            <li>
                                @Html.ActionLink("Luggage Stage", "StageDetails", "Stage", new { id = 2 }, "")
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("InspectingManager"))
                        {
                            <li>
                                @Html.ActionLink("Inspecting Stage", "StageDetails", "Stage", new { id = 3 }, "")
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("CustomManager"))
                        {
                            <li>
                                @Html.ActionLink("Customs Stage", "StageDetails", "Stage", new { id = 4 }, "")
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("PapersManager"))
                        {

                            <li>
                                @Html.ActionLink("Papers Stage", "StageDetails", "Stage", new { id = 5 }, "")
                            </li>
                        }
                    }




                    @*Stage Managers Rules to show each Stage as same as its Manager*@


                    @if (User.IsInRole("SuperAdmin") && User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Settings", "Index", "Roles")
                        </li>
                        <li>
                            @Html.ActionLink("New User", "Register", "Account")
                        </li>
                        <li>
                            @Html.ActionLink("Plane", "Index", "Plane")
                        </li>
                        <li>
                            @Html.ActionLink("On Plane Stage", "StageDetails", "Stage", new { id = 1 }, "")
                        </li>

                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>

                            @using (Html.BeginForm("LogOff", "Account"))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Log Out" class="btn btn-danger" />
                            }
                        </li>

                        //style="margin-top:20px;margin-left:10px;"








                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @*<a href="#">*@
                        <img src="~/TempImages/User.jpg" style="width:49px; height:49px; border-radius:50% 50%;" />
                        @*</a>*@
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>