@*@model FlightTracking.Models.Stages*@
@model FlightTracking.ViewModels.PassangerStageVM
@{
    ViewBag.Title = "StageDetails";
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

@*@Html.Action("StageDetails", "Stage",new { id=Model.stages.StageID})*@

@*table shows stage data*@
<div>
    <h4>Stages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.stages.StageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.stages.StageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.stages.EstimatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.stages.EstimatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.stages.ExtraTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.stages.ExtraTime)
        </dd>

    </dl>
</div>

@*Extra time button which only show the hidden extra time form, then it hides itself after click*@
<div class="form-group container-fluid" style="text-align:center">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" id="ExTimeBtn" value="Extra Time" class="btn btn-primary" />
    </div>
</div>
<br />

@*Add Extra Time*@
<div id="ExTimeTxtBox" hidden="hidden">
    @using (Html.BeginForm("AddExtraTime", "Stage", new { id = Model.stages.StageID }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => Model.stages.ExtraTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.stages.ExtraTime, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.ValidationMessageFor(model => Model.stages.ExtraTime, "", new { @class = "text-danger" })*@

                </div>

               

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add Extra Time" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddPassanger")
</p>
<table class="table">
    <tr>
        <th>
            Passenger Name
        </th>
        <th>
            Nationality
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model.passanger)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.ActionLink("Next Stage", "MoveToNextStage", new { id = item.Id })
            </td>
        </tr>
    }

</table>



@*Java script*@
<script src="~/js/jquery-2.1.4.min.js"></script>
<script src="~/JavaScript/MyJavaScript.js"></script>
