@model FlightTracking.Models.PassangerSearch
@{
   
    ViewBag.Title = "PassangerSearchDetails";
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
}

<h2 class="text-center text-capitalize">Passanger Search Details</h2>

<hr  style="margin:50px 0px"/>
<div style="width:100% ;height:150px;background-image:url(@Model.PicturePath)">

    <h1 class="text-center" style="color:white; padding-top:50%">  @Html.DisplayFor(model => model.StageName)</h1>
</div>
<div  >
    <label class="text-capitalize text-primary">Passenger Name :</label>
    @Html.DisplayFor(model => model.PassangerName)

    <br />
    
    <label class="text-capitalize text-primary">Passanger Nationality :</label>
    @Html.DisplayFor(model => model.PassangerNationality)
    
    <br />
    <label class="text-capitalize text-primary"> Estimated Time For This Stage:</label>
    @Html.DisplayFor(model => model.StageEstimatedTime)<span> Minuts . </span>

</div>



