@model IEnumerable<FlightTracking.Models.Plane>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#addplane">
        Add
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addplane" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">ADD PLANE</h4>
                </div>
                <div class="modal-body">
                    
                        @Html.Action("create","Plane" )
                            
               
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add</button>
                </div>*@
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.AirLine)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalHall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalBulding)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.AirLine).ToString(), "Details", new { id = item.ID })
                    
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalHall)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalBulding)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @*@Html.ActionLink("Add Passenger", "AddPassanger","Passanger") |*@
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#addpassanger">
                            Add Passanger
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="addpassanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button typaddpassangere="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">ADD PASSANGER</h4>
                                    </div>
                                    <div class="modal-body">

                                        @Html.Action("AddPassanger", "Passanger")


                                    </div>
                                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    @Html.ActionLink("Delete", "delete","Plane", new { id = item.ID })
                </td>
            </tr>

        }
    </tbody>
</table>
